* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
section, .footer_area {
  padding-top: 150px;
}
.customer_section,
.offer_details,
.feature, .instagram, .contract, .footer_area {
  max-width: 1440px;
  margin: 0 auto;
}
/* common class */
.primary_btn {
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  background: #e55473;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 500;
}
.section_title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.section_description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
section {
  margin-top: 100px;
}
/* header css start*/
/* navbar css start*/
header {
  background: rgba(229, 84, 115, 0.1);
}
nav {
  padding-top: 20px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
ul li {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}
ul,
li,
a {
  text-decoration: none;
  color: #000;
  transition: 0.1s;
}
ul,
li,
a:hover {
  color: #e55473;
  transition: 0.1s;
}
.logo {
  font-size: 32px;
}
.logo_title {
  color: #e55473;
}
.fa-solid {
  color: #e55473;
}
/* navbar css end*/
.banner {
  padding-top: 150px;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  gap: 150px;
}
.banner_img img {
  width: 550px;
}
.banner_title {
  color: #272727;
  font-weight: 800;
  font-size: 80px;
}
.banner_para {
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  font-size: 18px;
  padding: 32px 0 32px 0;
}
/* header css end*/
/* feature section start*/
.feature_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
  gap: 24px;
}
.feature_item {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.feature_item1 {
  background: rgba(167, 33, 98, 0.15);
}
.feature_item2 {
  background: rgba(5, 151, 160, 0.15);
}
.feature_item3 {
  background: rgba(71, 125, 17, 0.15);
}
.feature_item_name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  padding-top: 32px;
}
/* feature section end*/
/* customer section start */
.customer_review {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 80px 100px;
}
.customer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.customer_services {
  text-align: center;
}
.customer_description {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  padding-top: 20px;
}
/* customer section end */
/* offers section start */
.offers{
  background: rgba(229, 84, 115, 0.05);
}
.offer_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.offers_description{
  text-align: center;
  margin: 0 auto;
}
.offers_title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin: 0 auto;
}
/* offers section end */
/* instagram section start */
.instagram{
  text-align: center;
}
.gallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30;
}
.gallery img{
  border-radius: 10px;
}
/* instagram section end */
/* contract section start */
.contract{
  background: url(/img/Rectangle\ 9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
  text-align: center;
  margin-top: 150px;
}
.contract_detalis{
  padding-bottom: 50px;
}
.contract input{
  border-radius: 8px;
  background: #FFF;
  border: none;
  padding: 20px 0;
  width: 700px;
  margin-right: 20px;
}
.contract ::placeholder{
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
/* contract section end */
