* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* header css start*/
/* navbar css start*/
nav {
    padding-top: 20px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  ul li{
      list-style-type: none;
      font-weight: bold;
      font-size: 20px;
  }
  .logo{
    font-size: 32px;
  }
  .logo_title{
    color: red;
  }
/* navbar css end*/
/* header css end*/